<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>AI Battle Space</title>
    <style>
	body{
	display:block;          
        margin:0 auto;
	width: 459px;
	}

	form{                   
	margin: 0 auto;
	width: 459px; 
	}

	input{
	width: 459px;
	height: 40px;
	background: #efefef;
	padding: 10px;
	border: 1px solid #dedede;
	margin-top: 3px;
	font-size: 0.9em;
	color: #3a3a3a;
	}      
     </style>

    </head>
    <body bgcolor="#87CEEB">
  	<form name = "go to main" action = "index">
		<input type = "submit" value = "Main page"/>
	</form>

    <form name = "gamePickItUp" action = "gamePickItUp">
        <input type = "submit" value = "PickItUp"/>
    </form>

    <form name = "MakeItYours" action = "gameMakeItYours">
        <input type = "submit" value = "MakeItYours"/>
    </form>

    <form name = "game2" action = "game2">
        <input type = "submit" value = "Game 2"/>
    </form>
    </body>
</html>