<!doctype html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>HTML File</title>
  
	</head>
	
  <body onload="main()">
    <p>Hello World</p>
	<div class="container" style="position:relative">
		<canvas id="glcanvas"  style="position:absolute; top:150px; left:0; z-index:1" width="640" height="480">
		  Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
		</canvas>
		<canvas id="text" style="position:absolute; top:150px; left:0; z-index:2" width="640" height="480">
			Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
		</canvas>
	</div>

	<form name = "Send_Data" enctype="multipart/form-data">
		<b>Player name:</b>
		<textarea name = "playerName" required rows = 1 cols = 20></textarea>
		<br><br>
		<b>Source code: </b>
		<input  type = "file" id = "file" name = "FileName" multiple>
		<br><br>
		<input type = "button" value ="Send" onClick="Complete();">
		<input type = "reset" value = "Reset">
	</form>
    
	{% load staticfiles %}
    <script src="{% static "backendPart/cell.js" %}"></script>
    <script src="{% static "backendPart/parser.js" %}"></script>
    <script src="{% static "backendPart/graphics2d.js" %}"></script>
    <script src="{% static "backendPart/gl-matrix.js" %}"></script>
    <script src="{% static "backendPart/main.js" %}"></script>
	
  </body>
</html>