<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>AI Battle Space</title>
    <style>
	body{
	display:block;          
        margin:0 auto;
	width: 459px;
	}

	form{                   
	margin: 0 auto;
	width: 459px; 
	}

	input{
	width: 459px;
	height: 40px;
	background: #efefef;
	padding: 10px;
	border: 1px solid #dedede;
	margin-top: 3px;
	font-size: 0.9em;
	color: #3a3a3a;
	}      
     </style>

  </head>
	
	<script>
	function LogIn(){
        alert("start log in js");
        var username = document.log_in.username.value;
        var password = document.log_in.password.value;
        var data = new FormData();
        data.append("username", username);
        data.append("password", password);

        var request = new XMLHttpRequest();
        request.open("POST", "logIn");
        request.send(data);

        alert("end log in");
	}
	function LogOut(){
	    alert("start log out js");
	    var request = new XMLHttpRequest();
        request.open("GET", "logOut", false);
        request.send(null);
        alert("end log out js");
    }

    function UploadFIle() {
        alert("UploadFIle started");
        playerName = document.UploadAIFrom.playerName.value;
        if (playerName == "") {
            alert("Please enter your name");
            return;
        }

        if(document.getElementById("file").files.length == 0) {
            alert("Attach source code of your AI");
            return;
        }
        SourceCode = document.getElementById("file").files[0];

        var gotData = "Player name: " + playerName +
            "\nFile name: " + SourceCode.name;
        alert(gotData);

        // Fill sending data
        var formData = new FormData();
        formData.append('AIsource', SourceCode, playerName);

        // Make request
        var request = new XMLHttpRequest();
        request.open("POST", "uploadFile", false);
        request.send(formData);

        // Show result
        alert(request.responseText);
        alert("UploadFIle ended");
    }
	</script>
  
  <body bgcolor="#87CEEB">

  <p align = "center">
   <font  size="11" color="blue" face="Tahoma" > AI Battle Space </font>
  </p>
    {% if logStatus %} <!--When logged in-->
        <p align = "left">   
        <font  size="4" color="black" face="Verdana" > Welcome, {{username}}! Let's play! Please, upload your AI. </font>
        </p>
        <form name = "watch_match" action = "watchMatch">
            <input type = "submit" value = "Game"/>
        </form>

        <form name = "CheckIfWantToUploadAIFrom">
            <input type = "submit" value ="Upload AI" onclick = "
            if (document.UploadAIFrom.style.display == 'block')
                document.UploadAIFrom.style.display = 'none';
            else
                document.UploadAIFrom.style.display = 'block';
            return false;">
        </form>

        <form style="display: none;" name = "UploadAIFrom" enctype="multipart/form-data">
            <b>Player name:</b>
            <br>
            <textarea name = "playerName" required rows = 1 cols = 20></textarea>
            <br>
            <b>Source code: </b>
            <input  type = "file" id = "file" name = "FileName" multiple>
            <br><br>
            <input type = "button" value ="Send" onClick="UploadFIle();">
            <input type = "reset" value = "Reset">
        </form>

        <form name = "log_out">
            <input type = "submit" value ="Log Out" onclick = "LogOut();"/>
        </form>
    {% else %} <!--When logged out-->
     <p align = "left">   
     <font  size="4" color="black" face="Verdana" > AI BattleSpace - platform for the competition of artificial
     intellegences(AI). You can upload files with the source code of the user's AI to the web server and watch
         the game in your browser. </font>
     </p>
        <form name = "log_in">
            <b>Login:</b>
            <input name = "username" required />
            <br>
            <b>Password: </b>
            <input type = "password" name = "password" required/>
            <br><br>
            <input type = "submit" value ="Log In" onclick = "LogIn();"/>
        </form>
        {{ result }}
        <br>
        <form name = "sign_up" action = "registration">
            <input type = "submit" value = "Sign Up"/>
        </form>
    {% endif %}
    {% if result == ""  %}
        1
    {% else %}
        2
        {{ result }}
    {% endif %}
    LogStatus: {{ logStatus }}
    <!--
    Existing users:
    <ol>
    {% for user in userList %}
            <li>Login {{ user.username }} Email {{ user.email }} Password {{ user.password }}</li>
    {% endfor %}
    </ol>
    -->
  </body>
</html>