<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PickItUp Watch match</title>
</head>
<body onload="main()">
  	<form name = "go to main" action = "index">
		<input type = "submit" value = "Go to main"/>
	</form>

	<div class="container" style="position:relative">
		<canvas id="glcanvas"  style="position:absolute; top:150px; left:0; z-index:1" width="640" height="480">
		  Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
		</canvas>
		<canvas id="text" style="position:absolute; top:150px; left:0; z-index:2" width="640" height="480">
			Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
		</canvas>
	</div>

	{% load staticfiles %}
    <script src="{% static "backendPart/cell.js" %}"></script>
    <script src="{% static "backendPart/parser.js" %}"></script>
    <script src="{% static "backendPart/graphics2d.js" %}"></script>
    <script src="{% static "backendPart/gl-matrix.js" %}"></script>
    <script src="{% static "backendPart/main.js" %}"></script>

</body>
</html>