<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PickItUp</title>
</head>
<body>
	<form name = "Send_Data" enctype="multipart/form-data">
		<b>Player name:</b>
		<textarea name = "playerName" required rows = 1 cols = 20></textarea>
		<br><br>
		<b>Source code: </b>
		<input  type = "file" id = "file" name = "FileName" multiple>
		<br><br>
		<input type = "button" value ="Send" onClick="Complete();">
		<input type = "reset" value = "Reset">
	</form>


	{% load staticfiles %}
    <script src="{% static "backendPart/cell.js" %}"></script>
    <script src="{% static "backendPart/parser.js" %}"></script>
    <script src="{% static "backendPart/graphics2d.js" %}"></script>
    <script src="{% static "backendPart/gl-matrix.js" %}"></script>
    <script src="{% static "backendPart/main.js" %}"></script>
</body>
</html>