<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title></title>

  </head>
<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
 <nav class="navbar navbar-expand-lg navbar-light bg-primary">
   <div class="navbar-header">                       
                      <label class="btn col-xs-3">
                        <a href="index" class="thumbnail" style="margin-bottom: 0;">
                            {% load static %}
                            <img src="{% static 'backendPart/images/whiteLogo.png' %}"
                                 alt="Logo" style="width: 100px;height:70px;"/>                        </a>
                      </label>
                </div>
            <ul class="nav navbar-nav">
            </ul>
          <ul class="nav navbar-nav navbar-right">
                 <form name = "go to gameGallery" action = "gameGallery">
		<button type = "submit" class="btn btn-primary btn-lg">
                 Game Gallery
                </button>
	</form>


          </ul>       
    </nav>       
   <br><br>
    <h1 align="middle">Make It Yours</h1>
     <br>                                                        
   <h3 align="middle"> Do you wanna fill like Gaius Iulius Caesar? Your AI should occupy towns in map.</h3>
   <h3 align="middle">The winner is the one with the most numbers of occupied towns at the end of game.</h3>
   <h3 align="middle"> You don't know the map and the location of towns in advance because each game they are generated randomly!</h3>
   <br>
   <h3 align="middle">Game is under development</h3>

       
        
        <div class="container" style="position:relative">
		<canvas id="glcanvas"  style="position:absolute; top:10px; left:0; z-index:1" width="640" height="480">
		  Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
		</canvas>
		<canvas id="text" style="position:absolute; top:10px; left:0; z-index:2" width="640" height="480">
			Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
		</canvas>
	</div>

	{% load staticfiles %}
    <script src="{% static "backendPart/cell.js" %}"></script>
    <script src="{% static "backendPart/parser.js" %}"></script>
    <script src="{% static "backendPart/graphics2d.js" %}"></script>
    <script src="{% static "backendPart/gl-matrix.js" %}"></script>
    <script src="{% static "backendPart/main.js" %}"></script>

</body>
</html>