<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MakeItYours Watch match</title>
    <style>
	body{
	display:block;          
        margin:0 auto;
	width: 640px;
	}

	form{                   
	margin: 0 auto;
	width: 640px; 
	}

	input{
	width: 640px;
	height: 40;
	background: #efefef;
	padding: 10px;
	border: 1px solid #dedede;
	margin-top: 3px;
	font-size: 0.9em;
	color: #3a3a3a;
	}                
     </style>
</head>
<body bgcolor="#87CEEB">
  	<form name = "go to main" action = "index">
		<input type = "submit" value = "Main page"/>
	</form>
    <form name = "go to gameGallery" action = "gameGallery">
		<input type = "submit" value = "Game Gallery"/>
	</form>
    <p align = "left">
        <font  size="4" color="black" face="Verdana" >
        <p>
        Do you wanna fill like Gaius Iulius Caesar? Your AI should occupy towns in map.
        The winner is the one with the most numbers of occupied towns at the end of game.

        You don't know the map and the location of towns in advance because each game they are generated randomly!
        </p>
        <p>Game is under development</p>
        </font>
    </p>

    <div class="container" style="position:relative">
		<canvas id="glcanvas"  style="position:absolute; top:10px; left:0; z-index:1" width="640" height="480">
		  Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
		</canvas>
		<canvas id="text" style="position:absolute; top:10px; left:0; z-index:2" width="640" height="480">
			Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
		</canvas>
	</div>

	{% load staticfiles %}
    <script src="{% static "backendPart/cell.js" %}"></script>
    <script src="{% static "backendPart/parser.js" %}"></script>
    <script src="{% static "backendPart/graphics2d.js" %}"></script>
    <script src="{% static "backendPart/gl-matrix.js" %}"></script>
    <script src="{% static "backendPart/main.js" %}"></script>

</body>
</html>